{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - {{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}


{% block body %}
    {% block page_title %}
        <div class="row my-4">
            <div class="col-md-3 col-lg-2">
                <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
            </div>
            <div class="col">
                <h1>{{ page.title }}</h1>
                <hr class="my-4">
                <p class="lead">{{ page.description }}</p>
            </div>
        </div>
    {% endblock %}

    {% block page_body %}
        {{ page.content|raw }}
    {% endblock %}
{% endblock %}