{% block custom_form_attachments %}
    <div class="form-group form-attachment-item">
        <div class="row">
            <div class="col">{{ form_widget(form) }}</div>
            <div class="col">
                <button class="remove-attachement-button"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _contact_attachments_entry_row %}
    {{ block('custom_form_attachments') }}
{% endblock %}

{% block _article_attachments_entry_row %}
    {{ block('custom_form_attachments') }}
{% endblock %}