{% extends 'bootstrap_4_horizontal_layout.html.twig' %}
{% block form_widget_simple %}
    {{ parent() }}
    {% if datalist is defined %}
        <datalist id="{{ datalist_id }}">
            {% for item in datalist %}
            <option value="{{ item }}">
                {% endfor %}
        </datalist>
    {% endif %}
{% endblock %}