{% extends '_bootstrap_modal_layout.html.twig' %}

{% block modal_title %}
    {{ 'label.edit'|trans }} : {{ acquisition.name }}
{% endblock %}

{% block modal_body %}
    <div class="row">
        <div class="col-sm-4">
            {% if acquisition.preview is defined and acquisition.preview.name %}
                <div class="acquisition__preview">
                    <div align="center" class="embed-responsive embed-responsive-4by3">
                        <video loop class="embed-responsive-item" controls>
                            <source src="{{ asset(vich_uploader_asset(acquisition, 'previewFile')) }}"
                                    type=video/mp4>
                        </video>
                    </div>
                </div>
            {% else %}
                <div align="center">
                    <span class="badge badge-warning">{{ 'paragraph.no_preview_yet'|trans }}</span>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-8 text-center">
            <p>
                <a href="{{ path('acquisition_download', {'id': acquisition.id}) }}"
                   class="btn btn-primary"> {{ 'action.download_acquisition'|trans }}</a>
            </p>
            {% if acquisition.needNewPreviewGeneration %}
                <p><span class="badge badge-warning">{{ 'paragraph.waiting_for_preview_update'|trans }}</span></p>
            {% endif %}
        </div>
    </div>
    <hr>

    {{ form_start(form) }}
    <div class="row">
        {% for widget in form %}
            <div class="col-sm-6">
                {{ form_row(widget) }}
            </div>
        {% endfor %}
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-primary" value="{{ 'action.save_change'|trans }}">
{% endblock %}

