{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Forgotten password{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-3 col-lg-2">
            <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
        </div>
        <div class="col">
            <h1>Forgotten password</h1>
            <hr class="my-4">
        </div>
    </div>
    <p>
        If you have forgotten your password, we can send you a reset link to the email address registered with your
        account.
        Please fill in the forms below and this link should arrive within minutes.
        If you don't receive your reset link, please contact us.
    </p>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Submit">
        {{ form_end(form) }}
    </div>
{% endblock %}