{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ 'title.login'|trans }}{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-3 col-lg-2">
            <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
        </div>
        <div class="col">
            <h1>{{ 'title.login'|trans }}</h1>
            <hr class="my-4">
        </div>
    </div>

    <div class="d-flex justify-content-center plavimopWell">
        {{ form_start(form) }}
        <h2>{{ 'title.login'|trans }}</h2>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
        </button>
        <p class="my-1"><a
                    href="{{ path('security_forgotten_password') }}">{{ 'label.forgotten_your_password'|trans }}</a></p>
        {{ form_end(form) }}
    </div>

    <div class="text-center plavimopWell">
        <h2>{{ 'title.create_account'|trans }}</h2>
        <p>
            <a class="btn btn-secondary" href="{{ path('security_register') }}"> {{ 'action.register'|trans }} </a>
        </p>
    </div>
{% endblock %}