{% extends 'base.html.twig' %}
{% import "macros/modal_button.html.twig" as bootstrap %}
{% form_theme form 'form/form_horizontal.html.twig' %}
{% block title %}{{ parent() }} - {{ 'title.register'|trans }}{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-3 col-lg-2">
            <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
        </div>
        <div class="col">
            <h1>{{ 'title.register'|trans }}</h1>
            <hr class="my-4">
            <p class="lead">{{ 'subtitle.register'|trans }}</p>
        </div>
    </div>

    {{ form_start(form,{'attr':{novalidate: '', class: 'was-validated needs-validation'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}{{ form_row(form.title) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.institute) }}
    {{ form_row(form.country) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.researchTopic) }}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            {% do form.acceptTerms.setRendered %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" required="required"
                       id="{{ form.acceptTerms.vars.id }}" name="{{ form.acceptTerms.vars.full_name }}">
                <label class="form-check-label" for="{{ form.acceptTerms.vars.id }}">
                    {{ 'label.i_agree_to_the'|trans }} {{ bootstrap.modalLink(path('page_terms_and_conditions'), 'title.terms_and_conditions'|trans) }}
                </label>
                {{ form_errors(form.acceptTerms) }}
            </div>
        </div>
    </div>
    {{ form_row(form.acceptTerms) }}
    <p class="text-right">
        <button class="btn btn-primary" type="submit">{{ 'action.register'|trans }}</button>
    </p>
    {{ form_end(form) }}
{% endblock %}