{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ 'title.reset_password'|trans }}{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-3 col-lg-2">
            <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
        </div>
        <div class="col">
            <h1>{{ 'title.reset_password'|trans }}</h1>
            <hr class="my-4">
        </div>
    </div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ 'action.submit'|trans }}">
        {{ form_end(form) }}
    </div>
{% endblock %}