{% extends "page/layout.html.twig" %}


{% form_theme form 'form/form_horizontal.html.twig' %}

{% block page_body %}


    {{ form_start(form) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.email) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_widget(form.attachments) }}
    {# render the captcha field to the form in the view #}
    {{ form_row(form.captchaCode) }}
    <div class="form-group">
        <p class="text-center">
            <a href="#" class="btn-secondary btn add-attachment-button"
               data-attachments-div-id="{{ form.attachments.vars.id }}">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                {{ 'action.add_attachment'|trans }}
            </a>
        </p>
    </div>


    <div class="form-group">
        <p class="text-right">
            <button type="submit" class="btn btn-primary">{{ 'action.send'|trans }}</button>
        </p>
    </div>
    {{ form_end(form) }}



{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/js/addAttachment.js') }}"></script>
    <script src="{{ asset('build/js/captcha.js') }}"></script>
{% endblock %}
