{% extends "page/layout.html.twig" %}


{% block page_body %}
    <table  align="center">
    <tr>
       <td>
        {% if parameters.softwarePdfManual %}

            <a href="{{ vich_uploader_asset(parameters,'softwarePdfManualFile') }}" class="btn btn-lg btn-dark"
               download="PLAViMoP - Software documentation.pdf">
                <i class="fa fa-book"></i> {{ 'action.download_software_manual'|trans }}
            </a>

        {% endif %}
       </td>
        <td>
        {% if parameters.softwarePdfManualNew %}

            <a href="{{ vich_uploader_asset(parameters,'softwarePdfManualFileNew') }}" class="btn btn-lg btn-dark"
               download="PLAViMoP - Software documentation.pdf">
                <i class="fa fa-book"></i> {{ 'action.download_software_manual_new'|trans }}
            </a>

        {% endif %}
        </td>
    </tr>
    </table>
    <br>
    {{ page.content|raw }}
{% endblock %}

