<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('user_dashboard') }}">{{ 'label.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('share_acquisition_index') }}">{{ 'title.share_acquisition'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('share_acquisition_select_process') }}">
                {{ (acquisitionProcess is defined) ? acquisitionProcess.name : 'title.select_process'|trans }}
            </a>
        </li>
        {% if acquisitionProcess is defined %}
            <li class="breadcrumb-item">
                <a href="{{ path('share_acquisition_select_motion',{processSlug: acquisitionProcess.slug}) }}">
                    {{ (motion is defined) ? motion.title : 'title.select_motion'|trans }}
                </a>
            </li>
        {% endif %}
        {% if motion is defined %}
            <li class="breadcrumb-item active" aria-current="page">Send acquisition</li>
        {% endif %}
    </ol>
</nav>