{% extends 'shareAcquisition/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block body_share %}
    {{ page.content|raw }}
    <p class="text-center my-2"><a href="{{ path('share_acquisition_select_process') }}"
                                   class="btn btn-primary">{{ 'action.submit'|trans }}</a></p>
{% endblock %}

