{% extends "base.html.twig" %}
{% block body %}
    {{ include('shareAcquisition/_breadCrumb.html.twig') }}
    <h1 class="display-4 plavimopWell mt-3">{% block title %}{% endblock %}</h1>

    {% block body_share %}{% endblock %}
{% endblock %}