{% extends 'shareAcquisition/layout.html.twig' %}
{% block title %}{{ 'title.select_motion'|trans }}{% endblock %}

{% block body_share %}

    <div class="plavimopWell">
        {{ form_start(motionSelector) }}
        <h2>{{ 'title.select_existing_motion'|trans }}</h2>
        <div class="row">
            <div class="col">
                {{ form_widget(motionSelector) }}
            </div>
            <div class="col">
                <input class="btn btn-primary" type="submit" value="{{ 'action.select_this_motion'|trans }}">
            </div>
        </div>
        {{ form_end(motionSelector) }}
    </div>

    <div class="plavimopWell">
        {{ form_start(motionCreator) }}
        <h2>{{ 'title.or_create_new_motion'|trans }}</h2>
        <div class="row">
            {% for type in motionCreator.tags.types %}
                <div class="col-3">
                    {{ form_row(type) }}
                </div>
            {% endfor %}
        </div>
        <div class="text-right">
            <input class="btn btn-primary" type="submit" value="{{ 'action.create_new_motion'|trans }}">
        </div>
        {{ form_end(motionCreator) }}
    </div>

{% endblock %}