{% extends 'shareAcquisition/layout.html.twig' %}
{% block title %} {{ 'title.select_process'|trans }}{% endblock %}

{% form_theme processCreator 'form/form_horizontal.html.twig' %}

{% block body_share %}

    <div class="plavimopWell">
        {{ form_start(processSelector) }}
        <h2>{{ 'title.select_existing_process'|trans }}</h2>
        <div class="row">
            <div class="col">
                {{ form_row(processSelector.acquisitionProcess) }}
            </div>
            <div class="col">
                {{ form_widget(processSelector.save,  { 'attr': {'class': 'btn-primary'} }) }}
                {{ form_widget(processSelector.load,  { 'attr': {'class': ''} }) }}

            </div>
        </div>
        {{ form_end(processSelector) }}
    </div>

    <div class="plavimopWell">
        {{ form_start(processCreator) }}
        <h2>{{ 'title.or_create_new_process'|trans }}</h2>
        {{ form_widget(processCreator) }}
        <input class="btn btn-primary" type="submit" value="{{ 'action.create_new_process'|trans }}">
        {{ form_end(processCreator) }}
    </div>

{% endblock %}