{% extends 'shareAcquisition/layout.html.twig' %}
{% block title %}{{ 'title.send_acquisition'|trans }}{% endblock %}

{% form_theme form 'form/form_horizontal.html.twig' %}


{% block body_share %}


    <div class="plavimopWell">
        {{ form_start(form) }}
        <h2>{{ 'title.send_acquisition'|trans }}</h2>
        {{ form_row(form.acqDate) }}
        <div class="form-group row">
            <label class="col-form-label col-sm-2 form-control-label"
                   for="acquisition_fileFile">{{ 'label.acquisition_file'|trans }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.fileFile) }}
            </div>
        </div>
        {{ form_label(form.fileFile) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.previewDuration) }}
        {{ form_row(form.previewMarkerSize) }}
        {{ form_row(form.previewAzimuth) }}
        {{ form_row(form.previewElevation) }}
        <p class="text-right"><input type="submit" class="btn btn-primary"
                                     value="{{ 'action.send_acquisition'|trans }}"></p>
        {{ form_end(form) }}
    </div>

{% endblock %}