<ul>
    <li>{{ 'label.frame_rate_hz'|trans }} : {{ acquisitionProcess.frameRate }}</li>
    <li>{{ 'label.number_of_marker'|trans }} : {{ acquisitionProcess.numberOfMarkers }}</li>
    <li>{{ 'label.motion_capture_system_name'|trans }} : {{ acquisitionProcess.captureSystemName }}</li>
    <li>{{ 'label.number_and_type_of_camera'|trans }} : {{ acquisitionProcess.numberAndTypeOfCameraSensors }}</li>
    {% if acquisitionProcess.document.name and is_granted('download_description',acquisitionProcess) %}
        <li>
            <a class="btn btn-info btn-sm"
               href="{{ asset(vich_uploader_asset(acquisitionProcess, 'documentFile')) }}">
                <i class="fa fa-file-pdf-o"></i> {{ 'label.full_description'|trans }}
            </a>
        </li>
    {% endif %}
</ul>