{% extends '_bootstrap_modal_layout.html.twig' %}

{% block modal_title %}
    {{ 'label.delete'|trans }} : {{ acquisitionProcess.name }}
{% endblock %}

{% block modal_body %}
    {% if not acquisitionProcess.acquisitions|length %}
        {{ form(form) }}
        <div>{{ 'paragraph.action_cannot_be_undone'|trans }} {{ 'paragraph.this_will_permanently_delete_this_item'|trans }}</div>
        <div>{{ 'paragraph.please_click_on_delete_button_to_confirm'|trans }}</div>
    {% else %}
        <div>{{ 'paragraph.you_cannot_delete_process_which_is_linked_to_acquisitions'|trans }}</div>
    {% endif %}
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    {% if not acquisitionProcess.acquisitions|length %}
        <input type="submit" class="btn btn-danger" value="{{ 'action.delete'|trans }}">
    {% endif %}
{% endblock %}

