
.motionsFilter{

  legend , .form-control-label {
    font-weight: bold;
  }

  .form-group{
    margin-bottom: 0.5rem;
  }

  .form-check{
    display:inline-block;
    margin-right: 0.75rem;
  }


  .form-check-label{
    vertical-align: middle;
  }
}
