
.recognitionTest {
  legend, .form-control-label {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .form-check {
    display: inline-block;
    margin-right: 0.75rem;
  }

  .form-check-label {
    vertical-align: middle;
  }

  .progress {
    margin-bottom: 2rem;
  }

  &__Step {

    margin-bottom: 1rem;
    display: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

}

