$pagination-color: #17a2b8;
$pagination-active-bg: #17a2b8;
$pagination-active-border-color: #17a2b8;

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "select2.min";
@import "motionsList";
@import "motionsFilter";
@import "motionShow";
@import "recognitionTest";

$backgroundColor : #e9ecef;

video::-webkit-media-controls-overlay-play-button {
  opacity: 0;
}

input[pseudo="-webkit-media-controls-overlay-play-button"]::-internal-media-controls-overlay-play-button-internal {
  width: 100%;
}



body{
  background-color: $backgroundColor;
}

.plavimopBody{
  min-height: 85vh;
}

.plavimopWell {
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.acquisition__preview {
  background-color: black;
  margin-left: .5rem;
  margin-right: .5rem;
  padding-top: .5rem;
}
