{% macro icon(mimeType) %}
    {% spaceless %}
        {% if mimeType == 'application/pdf' %}
            fa-file-pdf-o
        {% elseif mimeType in [
        'application/msword',
        'application/rtf',
        'application/x-rtf',
        'text/richtext',
        'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        ] %}
            fa-file-word-o
        {% elseif mimeType in [
        'application/mspowerpoint',
        'application/vnd.ms-powerpoint',
        'application/x-mspowerpoint'
        ] %}
            fa-file-powerpoint-o
        {% elseif mimeType in [
        'application/excel',
        'application/x-excel',
        'application/x-msexcel',
        'application/vnd.ms-excel',
        'text/csv',
        'text/tab-separated-values',
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        ] %}
            fa-file-excel-o
        {% elseif mimeType in [
        'application/x-cpio',
        'application/x-shar',
        'application/x-tar',
        'application/gnutar',
        'application/x-bzip',
        'application/x-bzip2',
        'application/x-gzip',
        'multipart/x-gzip',
        'application/x-lzip',
        'application/x-lzma',
        'application/x-lzop',
        'application/x-xz',
        'application/x-compress',
        'application/x-7z-compressed',
        'application/x-ace-compressed',
        'application/vnd.android.package-archive',
        'application/x-compressed',
        'application/x-zip-compressed',
        'application/zip',
        'multipart/x-zip',
        'application/x-zip'
        ] %}
            fa-file-archive-o
        {% elseif 'image/' in mimeType %}
            fa-file-image-o
        {% elseif 'audio/' in mimeType %}
            fa-file-audio-o
        {% elseif 'video/' in mimeType %}
            fa-file-video-o
        {% elseif 'text/' in mimeType %}
            fa-file-text-o
        {% else %}
            fa-file-o
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}