{% macro modalButton(remote,title,icon, btnType) %}
    <button title="{{ title }}" type="button" class="btn btn-sm {{ btnType|default('btn-light') }}" data-toggle="modal"
            data-target="#plavimopModal"
            data-remote="{{ remote }}"
            data-autoload="0"
    >
        <i class="fa {{ icon|default('fa-cogs') }}"></i>
    </button>
{% endmacro %}

{% macro modalLink(remote,text,title,autoload) %}
    <a title="{{ title }}" data-toggle="modal" href="#"
       data-target="#plavimopModal"
       data-remote="{{ remote }}"
       data-autoload="{{ (autoload is defined and autoload is same as (false))? "0" : "1" }}"
    >
        {{ text }}
    </a>
{% endmacro %}