{% macro progressBar(current_step,nb_steps) %}
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{ current_step/nb_steps*100 }}%;"
             aria-valuenow="{{ current_step/nb_steps*100 }}" aria-valuemin="0"
             aria-valuemax="100">{{ current_step }}/{{ nb_steps }}
        </div>
    </div>
{% endmacro %}