<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <h2>Upload file</h2>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">{{ form_widget(form.fileFile) }}</div>
        <div class="col-6"><input type="submit" value="Envoyer"></div>
    </div>
    {{ form_end(form) }}
    <hr>
    <h2>Browse files</h2>
    <div class="row editorMediaFiles">
        {% for file in files %}
            <div class="col-lg-2 col-md-3 col-4" id="upload-{{ file.id }}">
                <img src="{{ vich_uploader_asset(file, 'fileFile') }}" title="{{ file.file.originalName }}"
                     alt="{{ file.file.originalName }}" class="img-fluid">
                <a href="#" data-action="delete" data-delete-id="upload-{{ file.id }}" title="delete file"
                   class="btn btn-danger" data-url="{{ path('admin_editor_delete',{id:file.id}) }}"><i
                            class="fa fa-trash"></i></a>
            </div>
        {% endfor %}
    </div>
</div>

{% block javascript %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/editor.js') }}"></script>
{% endblock %}
</body>
</html>