{% import "macros/modal_button.html.twig" as bootstrap %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {{ 'label.acquisition_process'|trans }}
            <span class="badge badge-info">{{ user.acquisitionProcess|length }}</span>
        </h5>
        <div id="acquisitionProcessAccordeon">
            {% for acquisitionProcess in user.acquisitionProcess|reverse %}

                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-link" data-toggle="collapse"
                                data-target="#acquisitionProcess{{ acquisitionProcess.id }}"
                                aria-expanded="{{ loop.first ? 'true' : 'false' }}"
                                aria-controls="acquisitionProcess{{ acquisitionProcess.id }}">
                            {{ acquisitionProcess.name }}
                        </button>
                        <span title="{{ 'paragraph.number_of_related_acquisitions' }} : {{ acquisitionProcess.acquisitions|length }}"
                              class="badge badge-dark badge-pill">{{ acquisitionProcess.acquisitions|length }}</span>
                        <a class="btn btn-light" title="{{ 'paragraph.add_acquisition_from_this_process' }}"
                           href="{{ path('share_acquisition_select_motion', {'processSlug': acquisitionProcess.slug}) }}">
                            <i class="fa fa-plus"></i>
                        </a>

                        {{ bootstrap.modalButton(path('acquisition_process_edit',  {'slug': acquisitionProcess.slug}), 'title.acquisition_process_edit'|trans, 'fa-edit') }}
                        {{ bootstrap.modalButton(path('acquisition_process_delete',  {'slug': acquisitionProcess.slug}), 'title.acquisition_process_delete'|trans, 'fa-trash') }}


                        <div id="acquisitionProcess{{ acquisitionProcess.id }}"
                             data-parent="#acquisitionProcessAccordeon"
                             class="collapse {{ loop.first ? 'show' : '' }}">
                            {{ include('acquisition_process/_acquisition_process_show.html.twig') }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <p>{{ 'paragraph.no_defined_process'|trans }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer text-center">
            <a href="{{ path('share_acquisition_select_process') }}"
               class="btn btn-primary">{{ 'title.select_process'|trans }}</a>
        </div>
    </div>
</div>