{% import "macros/modal_button.html.twig" as bootstrap %}
<div class="card-body">
    <h5 class="card-title">
        {{ user.lastname }} {{ user.firstname }}
    </h5>
    <p class="card-text text-center">
    </p>
    <div class="row card-text">
        <div class="col-md-6">
            <p>{{ 'label.email'|trans }} : {{ user.email }}</p>
        </div>
        <div class="col-md-6">
            <p>{{ 'label.role'|trans }} :
                {% if is_granted("ROLE_CONTRIBUTOR") %}
                    <span class="badge badge-success">{{ 'label.contributor'|trans }} </span>
                {% else %}
                    <span class="badge badge-info">{{ 'label.user'|trans }} </span>
                {% endif %}
            </p>
        </div>

    </div>
</div>
<div class="card-footer text-right">
    {{ bootstrap.modalLink(path('user_edit_profile'), 'title.edit_profile'|trans, 'title.edit_profile'|trans, false) }}
    | {{ bootstrap.modalLink(path('user_change_password'), 'title.change_password'|trans, 'title.change_password'|trans, false) }}
    {% if not (is_granted("ROLE_CONTRIBUTOR")) %}
        | {{ bootstrap.modalLink(path('user_send_contributor_request'), 'title.become_contributor_request'|trans, 'title.become_contributor_request'|trans, false) }}
    {% endif %}
    | {{ bootstrap.modalLink(path('user_send_download_software_request'), 'title.download_software'|trans, 'title.download_software'|trans, false) }}
</div>