{% import "macros/modal_button.html.twig" as bootstrap %}

{% if user.articles|length %}
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">
                {{ 'title.submitted_articles'|trans }}
                <span class="badge badge-info">{{ user.articles|length }}</span>
            </h5>
            {% for article in user.articles %}
                <p>
                    {% if article.valid %}
                        <span class="badge badge-success">{{ 'label.valid'|trans }}</span>
                    {% else %}
                        <span class="badge badge-danger">{{ 'label.need_review'|trans }}</span>
                    {% endif %}
                    <a href="{{ path('article_show', {'slug': article.slug}) }}">
                        {{ article.title }}
                    </a>
                    {{ bootstrap.modalButton(path('article_edit',  {'slug': article.slug}), 'title.article_edit'|trans, 'fa-edit') }}
                    {{ bootstrap.modalButton(path('article_delete',  {'slug': article.slug}), 'title.article_delete'|trans, 'fa-trash') }}
                </p>
            {% endfor %}
            <div class="card-footer text-center">
                <a href="{{ path('article_submit') }}" class="btn btn-primary">
                    {{ 'title.article_submit'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endif %}

