{% import "macros/modal_button.html.twig" as bootstrap %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {{ 'label.acquisition'|trans }}
            <span class="badge badge-info">{{ user.acquisitions|length }}</span>
        </h5>
        <ul class="list-unstyled">
            {% for acquisition in user.acquisitions %}
                <li class="d-flex justify-content-between mb-1">
                    <span>
                    {% if acquisition.valid %}
                        <a title="Show" href="{{ path('motion_show',{'id' : acquisition.motion.id}) }}"><i
                                    class="fa fa-link"></i></a>
                    {% endif %}
                        {{ acquisition.name }}
                    </span>
                    <span>
                    {% if acquisition.valid %}
                        <span class="badge badge-success">Valid </span>
                    {% else %}
                        <span class="badge badge-danger">Need review </span>
                    {% endif %}
                        {{ bootstrap.modalButton(path('acquisition_edit',  {'id': acquisition.id}), 'title.acquisition_edit'|trans, 'fa-edit') }}
                        {{ bootstrap.modalButton(path('acquisition_delete',  {'id': acquisition.id}), 'title.acquisition_delete'|trans, 'fa-trash') }}
                    </span>
                </li>
            {% else %}
                <li>{{ 'paragraph.no_acquisition'|trans }}</li>
            {% endfor %}
        </ul>
        <div class="card-footer text-center">
            <a href="{{ path('share_acquisition_index') }}" class="btn btn-primary">
                {{ 'title.share_acquisition'|trans }}
            </a>
        </div>
    </div>
</div>