{% block a2lix_translations_row %}
    <div class="form-group">
        {% for widget in form %}
            <div class="col-sm-6">
                <div class="bg-info">
                    <h3>Translations {{ widget.vars.name }}</h3>
                    {{ form_widget(widget) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}