{% if value.preview is defined and value.preview.name %}
    <div align="center" class="embed-responsive embed-responsive-4by3" style="min-width: 150px;">
        <video loop class="embed-responsive-item" controls>
            <source src="{{ asset(vich_uploader_asset(value, 'previewFile')) }}"
                    type=video/mp4>
        </video>
    </div>
{% else %}
    <div align="center">
        <span class="label label-danger">Null</span>
    </div>
{% endif %}