<!doctype html>
<html>
<body>
<h1>User contributor request</h1>

<p>Click on this link to see user profile and upgrade access</p>
<p>
    <a href="{{ url('easyadmin', {'entity': 'User', 'action': 'edit', 'id': user.id}) }}">{{ url('easyadmin', {'entity': 'User', 'action': 'edit', 'id': user.id}) }}</a>
</p>

</body>
</html>