<!doctype html>
<html>
<body>
<h1>Get PLAViMoP Software request</h1>
<p>{{ user.firstname }} {{ user.lastname }} want to get PLAViMoP software</p>
<p>Click on this link to see his profile</p>
<p>
    <a href="{{ url('easyadmin', {'entity': 'User', 'action': 'edit', 'id': user.id}) }}">{{ url('easyadmin', {'entity': 'User', 'action': 'show', 'id': user.id}) }}</a>
</p>

<p>Reply to this email to provide the download process</p>

</body>
</html>