<!doctype html>
<html>
<body>
<h1>PLAViMoP : resetting password</h1>
<p>Hi,</p>
<p>A request to reset the password for your account has been made at PLAViMoP.</p>
<p>You may now reset the password for your PLAViMoP account by clicking on this link or copying and pasting it in your
    browser:</p>
<p>
    <a href="{{ url('security_reset_password',{resetPassword: user.resetPassword}) }}">{{ url('security_reset_password',{resetPassword: user.resetPassword}) }}</a>
</p>

<p>If you didn't make this request, then please ignore this email.
    If you have any concerns about your account security, please get in touch with us via our website.
</p>
</body>
</html>
