{% extends (app.request.isXmlHttpRequest)? 'base_modal.html.twig' : 'base.html.twig' %}

{% block body %}

    {% if form is defined %}
        {{ form_start(form) }}
    {% endif %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% block modal_title %}{% endblock %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}{% endblock %}
            </div>
        </div>
    </div>
    {% if form is defined %}{{ form_end(form) }}{% endif %}

{% endblock %}