<footer class="container-fluid text-center bd-footer bg-dark py-2">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('page_terms_and_conditions') }}">{{ 'title.terms_and_conditions'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('page_legal_notices') }}"
                       title="Legal notices">{{ 'title.legal_notice'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://cerca.labo.univ-poitiers.fr" title="CeRCA">
                        <img src="{{ asset('src/img/CercaLogo.jpg') }}" class="img-thumbnail" alt="logo CERCA"
                             width="110px">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.pprime.fr/" title="PPrime">
                        <img src="{{ asset('src/img/PprimeLogo.jpg') }}" class="img-thumbnail" alt="logo PPrime"
                             width="70">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.univ-poitiers.fr" title="Université de Poitiers">
                        <img src="{{ asset('src/img/UPLogo.jpg') }}" class="img-thumbnail" alt="logo Univ. Poitiers"
                             width="60">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.nouvelle-aquitaine.fr/" title="Nouvelle Aquitaine">
                        <img src="{{ asset('src/img/AquitaineLogo.jpg') }}" class="img-thumbnail"
                             alt="logo Nouvelle Aquitaine" width="50">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://europa.eu/" title="Europe">
                        <img src="{{ asset('src/img/EuropeLogo.jpg') }}" class="img-thumbnail" alt="logo Europe"
                             width="70">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.cnrs.fr/" title="CNRS">
                        <img src="{{ asset('src/img/logoCNRS.jpg') }}" class="img-thumbnail" alt="logo CNRS"
                             width="60">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>