<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-responsive" width="30" height="30"
                 alt="">
            {{ 'label.plavimop'|trans }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"
                                        href={{ path('page_software') }}>| {{ 'label.software'|trans({},'navigation') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href={{ path('motion_index') }}>| {{ 'label.database'|trans({},'navigation') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href={{ path('page_community') }}>| {{ 'label.community'|trans({},'navigation') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ path('recognition_index') }}">| {{ 'label.recognition_test'|trans({},'navigation') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href={{ path('article_index') }}>| {{ 'label.news'|trans({},'navigation') }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ path('contact_index') }}">| {{ 'label.contact'|trans({},'navigation') }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               href="{{ path('user_dashboard') }}">
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> {{ 'label.dashboard'|trans({},'navigation') }}
                            </a>
                            {% if is_granted('ROLE_CONTRIBUTOR') %}
                                <a class="dropdown-item"
                                   href="{{ path('share_acquisition_index') }}">
                                    <i class="fa fa-video-camera"
                                       aria-hidden="true"></i> {{ 'label.sharing_acquisition'|trans({},'navigation') }}
                                </a>
                                <a class="dropdown-item"
                                   href="{{ path('article_submit') }}">
                                    <i class="fa fa-newspaper-o"
                                       aria-hidden="true"></i> {{ 'label.submit_news'|trans({},'navigation') }}
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin') }}">
                                    <i class="fa fa-cogs"
                                       aria-hidden="true"></i> {{ 'label.administration'|trans({},'navigation') }}
                                </a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('security_logout') }}">
                                <i class="fa fa-sign-out"
                                   aria-hidden="true"></i>{{ 'label.logout'|trans({},'navigation') }}
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="btn btn-secondary" href={{ path('security_login') }}><i
                                    class="fa fa-sign-out"
                                    aria-hidden="true"></i>{{ 'label.login'|trans({},'navigation') }}</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle" href="#" id="dropdownLangButton"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe"></i> {{ app.request.locale }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownLangButton">
                        {% for locale in locales %}
                            <a class="dropdown-item"
                               href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({_locale: locale})) }}">
                                {{ locale }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>