<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ 'title.site'|trans }}{% endblock %}</title>
    <meta name="description"
          content="{% block description %}{{ 'description.site'|trans }}{% endblock %}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% include '_header_menu.twig' %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            <div class="container">{{ message|trans }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

<div class="container{{ (containerFluid|default(false)? "-fluid":"" ) }}">
    <div class="plavimopBody">
        {% block body %}{% endblock %}
    </div>
</div>

{% include '_footer.twig' %}

<div class="modal fade" id="plavimopModal" tabindex="-1" role="dialog" aria-labelledby="plavimopModal"
     aria-hidden="true"
     data-default-title="Opening Modal"
     data-default-content="{{ '<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>'|escape('html') }}"
     data-default-footer="{{ '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'|escape('html') }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


{% block javascript %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

</body>
</html>
