{% import "macros/progress_bar.html.twig" as macros %}
<div class="tab recognitionTest__Step">
    {{ macros.progressBar(current_step,nb_steps) }}
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center"><strong>{{ 'label.recognition'|trans }} #{{ current_step -1 }}</strong></p>
            <div class="acquisition__preview">
                <div align="center" class="embed-responsive embed-responsive-4by3">
                    <video loop class="embed-responsive-item" controls controlsList="nodownload">
                        <source src="{{ asset(vich_uploader_asset(recognition.vars.value.acquisition, 'previewFile')) }}"
                                type=video/mp4>
                    </video>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {{ form_widget(recognition.selectedTags) }}
        </div>
    </div>
</div>