{% extends 'page/layout.html.twig' %}

{% set nb_steps = form.recognitions|length + 2 %}
{% set current_step = 1 %}
{% import "macros/progress_bar.html.twig" as macros %}

{% block page_body %}
    <div class="recognitionTest">
        {{ form_start(form,{"attr": {"id":"regForm","class":"was-validated"}}) }}
        <div class="row">
            <div class="col-sm-12">

                <div class="recognitionTest__Step">
                    {{ macros.progressBar(current_step,nb_steps) }}
                    {{ page.content|raw }}
                </div>

                <div class="recognitionTest__Step">
                    {% set current_step = current_step + 1 %}
                    {{ macros.progressBar(current_step,nb_steps) }}
                    <p class="text-center"><strong>{{ 'recognition_test.step2_title'|trans }}</strong></p>
                    {{ form_widget(form.respondent) }}
                </div>

                {% for recognition in form.recognitions %}
                    {% set current_step = current_step + 1 %}
                    {% include 'recognition/_recognition_test_step.twig' %}
                {% endfor %}

                <div class="recognitionTest__Step">
                    <p class="text-center"><strong>{{ 'label.thank'|trans }} !</strong></p>
                    <p>
                        {{ 'paragraph.thank_for_your_participation'|trans }}
                    </p>
                    <p>
                        {{ 'paragraph.click_on_for_send_results'|trans }}
                    </p>
                </div>

            </div>
            <div class="col-sm-12 text-center">
                <span><strong></strong></span>
                <button type="button" id="nextBtn" class="btn btn-lg btn-info"><i class="fa fa-chevron-right"
                                                                                  aria-hidden="true"></i></button>
                <button id="submitBtn" class="btn btn-lg btn-success"
                        type="submit">{{ 'action.send_survey'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}


    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/js/recognitionTest.js') }}"></script>
{% endblock %}