{% extends 'base.html.twig' %}

{% block title %}{{ 'title.recognition_results'|trans }} {% endblock %}
{% block description %}{{ 'description.recognition_results'|trans }} {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ 'title.homepage'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('recognition_index') }}">{{ 'title.recognition'|trans }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'paragraph.your_result'|trans }}</li>
        </ol>
    </nav>
    <h1 class="display-4 plavimopWell">{{ 'paragraph.thanks_for_your_participation'|trans }}</h1>

    <div class="text-center my-4">
        <h4>{{ 'label.recognition_rate'|trans }} : {{ respondant.recognitionRate | round }} %</h4>
    </div>
    {% for recognition in respondant.recognitions %}
        <div class="plavimopWell">
            <h3>{{ recognition.acquisition }}</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="acquisition__preview">
                        <div align="center" class="embed-responsive embed-responsive-4by3">
                            <video loop class="embed-responsive-item" controls controlsList="nodownload">
                                <source src="{{ asset(vich_uploader_asset(recognition.acquisition, 'previewFile')) }}"
                                        type=video/mp4>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="mt-2">{{ 'label.associated_tags'|trans }} : </h4>
                    <div class="row">
                        {% for  tag in recognition.acquisition.motion.tags %}
                            <div class="col-6 col-sm-3 col-md">
                                {{ tag.type.label }}<br>
                                <span class="badge badge-primary"><i class="fa fa-tag"></i> {{ tag.label }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <h4 class="mt-2">{{ 'label.your_choices'|trans }} : </h4>
                    <div class="row">
                        {% for tag in recognition.selectedTags %}
                            <div class="col-6 col-sm-3 col-md">
                                {{ tag.type.label }}<br>
                                <span class="badge badge-{{ (tag in recognition.acquisition.motion.tags)? 'success' : 'danger' }}">
                                <i class="fa fa-tag"></i> {{ tag.label }}
                            </span>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

