{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="motionsFilter plavimopWell">
    {{ form_start(form,{'action': path('motion_index')} ) }}

    {{ form_widget(form.selectedTags) }}
    <div class="text-right">
        <a href="{{ path('motion_filter_resetting') }}" class="btn btn-secondary">{{ 'action.reset'|trans }}</a>
        <input type="submit" value="{{ 'action.search'|trans }}" class="btn btn-info">
    </div>
    {{ form_end(form) }}
</div>