<div class="motionsList">
    {% for motion in motions %}
        <div class="motionsList__item plavimopWell">
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class=" col-lg-5">
                            <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                                <p class="motionsList__itemTitle">{{ motion.title }}</p>
                                <div>
                                    <span class="motionsList__itemTitle">Tags : </span>
                                    {% for tag in motion.tags %}
                                        <span class="badge badge-{{ (tag.id in motionFilter.selectedTagsIds)? "secondary":"info" }}">
                                    <i class="fa fa-tag"></i> {{ tag.label }}</span>
                                    {% endfor %}
                                </div>
                                <p class="text-center">
                                    <a class="btn btn-light" href="{{ path('motion_show', {'id': motion.id}) }}"
                                       title="Details">{{ 'action.show_motion'|trans }}</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="acquisition__preview">
                                <div align="center" class="embed-responsive embed-responsive-4by3">
                                    <video data-preview-id="{{ motion.id }}" loop class="embed-responsive-item"
                                           controls controlsList="nodownload">
                                        <source src="{{ asset(vich_uploader_asset(motion.acquisitions.first, 'previewFile')) }}"
                                                type=video/mp4>
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <p class="motionsList__itemTitle">
                                {{ 'label.acquisition'|trans }}{{ (motion.acquisitions|length > 1)? "s":"" }}</p>
                            {% for acquisition in motion.acquisitions %}
                                <div>
                                    <span title="{{ acquisition.acqDate|date('Y-m-d') }}" data-toggle="tooltip">
                                        #{{ acquisition.id }} :
                                    </span>
                                    {% if is_granted('download',acquisition) %}
                                        <a class="btn"
                                           href="{{ path('acquisition_download', {'id': acquisition.id}) }}">.c3d</a>
                                    {% else %}
                                        <a class="btn disabled" href="#"
                                           title="{{ 'label.need_authentication'|trans }}">.c3d</a>
                                    {% endif %}
                                    {% if acquisition.previewFile is defined %}
                                        <a href="{{ asset(vich_uploader_asset(acquisition, 'previewFile')) }}"
                                           class=" btn js-change-preview" data-preview-id="{{ motion.id }}">.mp4</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



