{% extends 'page/layout.html.twig' %}


{% block page_body %}
    {% if parameters.databasePdfManual %}
        <p class="float-right">
            <a href="{{ vich_uploader_asset(parameters,'databasePdfManualFile') }}" class="btn btn-lg btn-dark"
               download="PLAViMoP - Database manual.pdf">
                <i class="fa fa-book"></i> {{ 'action.download_database_manual'|trans }}
            </a>
        </p>
    {% endif %}
    {{ page.content|raw }}


    <div class="row">
        <div class="col-md-8 offset-md-4">
            <div class="d-flex">
                <p class="text-center align-self-center font-weight-bold mx-2">{{ (motionFilter.selectedTags|length == 0)?
                    "All results":"Motions filtered" }} :
                    {{ motions.currentPageOffsetStart }} to {{ motions.currentPageOffsetEnd }} out
                    of {{ motions.nbResults }}
                    {% for tag in motionFilter.selectedTags %}
                        <span class="badge badge-secondary">
                            <i class="fa fa-tag"></i> {{ tag.label }}
                        </span>
                    {% endfor %}
                </p>
                {% include 'motion/_motions_paginator.html.twg' %}
            </div>
        </div>
        <div class="col-md-4">
            {% include 'motion/_motions_filter.html.twig' %}
        </div>
        <div class="col">
            {% include 'motion/_motions_list.html.twig' %}
            {% include 'motion/_motions_paginator.html.twg' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/js/motion.js') }}"></script>
{% endblock %}

