{% extends 'base.html.twig' %}

{% block title %}{{ 'label.motion_acquisitions'|trans }} :  {{ motion.title }} {% endblock %}
{% block description %}{{ 'label.motion_acquisitions'|trans }} -  {{ motion.title }} {% endblock %}
{% block body %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ 'title.homepage'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('motion_index') }}">{{ 'title.database'|trans }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ motion.title }}</li>
        </ol>
    </nav>
    <div class="motionShow">
        <h1 class="display-4 plavimopWell">{{ 'label.motion'|trans }} : {{ motion.title }}</h1>
        <div class="motionShow_tags plavimopWell">
            <h2>{{ 'label.associated_tags'|trans }} :</h2>
            <div class="row">
                {% for tag in motion.tags %}
                    <div class="col-6 col-sm-3 col-md">
                        {{ tag.type.label }}<br>
                        <span class="badge badge-secondary"><i class="fa fa-tag"></i> {{ tag.label }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="motionShow_acquisitions">
            {% for acquisition in motion.acquisitions if acquisition.valid %}
            <div class="motionShow_acquisition plavimopWell">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ 'label.acquisition'|trans }} #{{ acquisition.id }}</h2>
                    {% if is_granted('download',acquisition) %}
                        <a href="{{ path('acquisition_download', {'id': acquisition.id}) }}"
                           class="btn btn-small btn-primary">{{ 'action.download_acquisition'|trans }}</a>
                    {% endif %}
                    <strong>{{ acquisition.user.institute }}</strong>
                </div>
                <div class="row">
                    {% if acquisition.previewFile is defined %}
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <div class="acquisition__preview">
                                <div align="center" class="embed-responsive embed-responsive-4by3">
                                    <video loop class="embed-responsive-item" controls controlsList="nodownload">
                                        <source src="{{ asset(vich_uploader_asset(acquisition, 'previewFile')) }}"
                                                type=video/mp4>
                                    </video>
                                </div>
                            </div>
                            <div class="my-2">
                                <h4>{{ 'label.process'|trans }}</h4>
                                {% include 'acquisition_process/_acquisition_process_show.html.twig'  with {acquisitionProcess: acquisition.acquisitionProcess} %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% if acquisition.comment %}
                                <h3>{{ 'label.comment'|trans }}</h3>
                                <p>{{ acquisition.comment|nl2br }}</p>
                            {% endif %}
                            <h3>{{ 'label.recognitions'|trans }}</h3>
                            <div class="d-flex align-items-start justify-content-between">
                                <ul>
                                    <li>{{ 'label.number_of_inquiries'|trans }}
                                        : {{ acquisition.recognitions|length }}</li>
                                    <li>{{ 'label.recognition_rate'|trans }} : {{ acquisition.recognitionRate|round }}
                                        %
                                    </li>
                                </ul>
                                {% if acquisition.recognitions|length %}
                                    {% if is_granted('download',acquisition) %}
                                        <a class="btn btn-info" title="Download recognitions csv"
                                           href="{{ path('acquisition_export_recognitions', {'id': acquisition.id}) }}">
                                            {{ 'action.download_recognition_csv'|trans }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row">
                                {% for typeLabel, typeData in  acquisition.recognitionsTags %}
                                    <div class="col-sm-4">
                                        <div class="motionShow__recognitionChart"
                                             data-plot-title="{{ typeLabel|json_encode|e('html_attr') }}"
                                             data-plot-data="{{ typeData|json_encode|e('html_attr') }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="motionShow_acquisition plavimopWell">
                <h2>{{ 'paragraph.no_acquisition'|trans }}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('src/plotly/plotly.min.js') }}"></script>
    <script src="{{ asset('build/js/motionShow.js') }}"></script>
{% endblock %}


