{% extends 'base.html.twig' %}

{% block title %}{{ 'title.404'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center my-5">{{ 'title.404'|trans }} </h1>
    <div class="row">
        <div class="col">
            <div align="center" class="embed-responsive embed-responsive-4by3">
                <video data-preview-id="82" loop="" class="embed-responsive-item" autoplay>
                    <source src="{{ asset('/src/404.mp4') }}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col">
            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}