<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PHP Translation</title>
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/bootstrap4-alpha5.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        <li class="nav-item"><span class="nav-text">Admin :</span></li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">Return to admin</a>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
        <li class="nav-item"><span class="nav-text">Configs:</span></li>
        {% for c in configNames %}
            <li class="nav-item{% if configName == c %} active{% endif %}">
                <a class="nav-link" href="{{ path('translation_index', {configName: c}) }}">
                    {{ c }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
</body>
</html>
