{% if article is defined %}
    {% set category = article.category %}
{% endif %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ 'title.homepage'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('article_index') }}">{{ 'title.articles'|trans }}</a></li>
        {% if category is defined %}
            <li class="breadcrumb-item"><a
                        href="{{ path('article_category_index',{'slug': category.slug}) }}">{{ category|default }}</a>
            </li>
        {% endif %}
        {% if article is defined %}
            <li class="breadcrumb-item" aria-current="page">{{ article.title }}</li>
        {% endif %}
        {% if categories is defined %}
            <li class="breadcrumb-item">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">All</a>
                <div class="dropdown-menu">
                    {% for category in categories %}
                        <a class="dropdown-item"
                           href="{{ path('article_category_index', {'slug': category.slug}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    </ol>
</nav>