{% extends '_bootstrap_modal_layout.html.twig' %}

{% block modal_title %}
    {{ 'title.article_delete'|trans }} : {{ article.title }}
{% endblock %}

{% block modal_body %}
    {{ form(form) }}
    <div>{{ 'paragraph.action_cannot_be_undone'|trans }} {{ 'paragraph.this_will_permanently_delete_this_item'|trans }}</div>
    <div>{{ 'paragraph.please_click_on_delete_button_to_confirm'|trans }}</div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-danger" value="{{ 'action.delete'|trans }}">
{% endblock %}

