{% extends '_bootstrap_modal_layout.html.twig' %}

{% block modal_title %}
    {{ 'title.article_edit'|trans }} : {{ article.title }}
{% endblock %}

{% block modal_body %}
    {{ form(form) }}
    <div class="form-group">
        <p class="text-center">
            <a href="#" class="btn-secondary btn add-attachment-button"
               data-attachments-div-id="{{ form.attachments.vars.id }}">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                {{ 'action.add_attachment'|trans }}
            </a>
        </p>
    </div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-primary" value="{{ 'action.save_change'|trans }}">
{% endblock %}

