{% extends 'page/layout.html.twig' %}

{% block page_body %}
    {% include "article/_breadCrumb.html.twig" %}
    {{ page.content|raw }}
    {% for article in articles %}
        <div class="plavimopWell">
            <div class="row">
                <div class="col-sm-9">
                    <h2>{{ article.title }}</h2>
                </div>
                <div class="col-sm-3 text-right">
                    <span class="badge badge-info">{{ article.date|localizeddate('medium','none') }}</span>
                    <a class="badge badge-success"
                       href="{{ path('article_category_index', {'slug': article.category.slug}) }}">{{ article.category }}</a>
                </div>

            </div>
            <div>
                {{ article.description|nl2br }}
                <span>
                    <a href="{{ path('article_show', {'slug':article.slug}) }}"
                       title="Read more about {{ article.title }}">
                        {{ 'action.read_more'|trans }}
                    </a>
                </span>
            </div>

        </div>
    {% endfor %}

    <div class="pagination justify-content-center">
        {% if category is defined %}
            {{ pagerfanta(articles, 'twitter_bootstrap4', {routeName: 'article_category_index_paginated', routeParams: {slug: category.slug}, proximity: 1,next_message: "→",prev_message: "←"}) }}
        {% else %}
            {{ pagerfanta(articles, 'twitter_bootstrap4', {routeName: 'article_index_paginated', proximity: 1,next_message: "→",prev_message: "←"}) }}
        {% endif %}
    </div>
{% endblock %}