{% extends "base.html.twig" %}
{% import 'macros/filemacros.html.twig' as filemacros %}
{% block title %} {{ parent() }} - {{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}


{% block body %}
    {% block page_title %}
        <div class="row my-4">
            <div class="col-md-3 col-lg-2">
                <img src="{{ asset('src/img/logoHeaderQuick.png') }}" class="img-fluid">
            </div>
            <div class="col">
                <h1>{{ page.title }}</h1>
                <hr class="my-4">
                <p class="lead">{{ page.description }}</p>
            </div>
        </div>
        {% include "article/_breadCrumb.html.twig" with {article: page} %}
    {% endblock %}

    {% block page_body %}
        <div class="row">
            <div class="col-sm-8">
                {{ page.content|raw }}
            </div>
            <div class="col-sm-4">
                <div class="plavimopWell">
                    <h3><i class="fa fa-paperclip"></i> {{ 'label.attachments'|trans }}</h3>
                    {% for attachment in page.attachments %}
                        <p>
                            <a download="{{ attachment.file.originalName }}"
                               href="{{ vich_uploader_asset(attachment,'fileFile') }}">
                                <i class="fa {{ filemacros.icon(attachment.file.mimeType) }}">
                                    - </i> {{ attachment.file.originalName }}
                            </a>
                        </p>

                    {% else %}
                        <p>{{ 'paragraph.no_attachments'|trans }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}