{% extends 'page/layout.html.twig' %}

{% block page_body %}
    {{ page.content|raw }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <p class="text-center">
            <a href="#" class="btn-secondary btn add-attachment-button"
               data-attachments-div-id="{{ form.attachments.vars.id }}">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                {{ 'action.add_attachment'|trans }}
            </a>
        </p>
    </div>
    <div class="form-group">
        <p class="text-right">
            <button type="submit" class="btn btn-primary">{{ 'action.submit'|trans }}</button>
        </p>
    </div>
    {{ form_end(form) }}


{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/trumbowyg.css') }}">
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/js/addAttachment.js') }}"></script>
    <script src="{{ asset('build/js/trumbowyg.js') }}"></script>
{% endblock %}
