<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('user_dashboard') }}">{{ 'label.dashboard'|trans }}</a></li>

        {% if page|default == 'edit' %}
            <li class="breadcrumb-item">{{ 'title.edit_profile'|trans }}</li>
        {% endif %}
    </ol>
</nav>


<div class="plavimopWell my-3">
    <h1>
        {{ title }}
    </h1>
</div>