{% extends '_bootstrap_modal_layout.html.twig' %}

{% form_theme form 'form/form_horizontal.html.twig' %}
{% block modal_title %}
    {{ 'title.change_password'|trans }}
{% endblock %}

{% block modal_body %}
    {{ form(form) }}
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-primary" value="{{ 'action.change_password'|trans }}">
{% endblock %}