{% extends 'base.html.twig' %}
{% import "macros/modal_button.html.twig" as bootstrap %}
{% block title %} {{ 'label.dashboard'|trans }}{% endblock %}

{% block body %}
    {% include 'user/_header.html.twig' with {'title': 'heading.dashboard'|trans } only %}

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                {% include 'user/dashboard/_card_profile_management.html.twig' %}
            </div>
        </div>

        <div class="col">
            {% include 'user/dashboard/_card_acquisition.html.twig' %}
        </div>

        <div class="col">

            {% include 'user/dashboard/_card_acquisition_process.html.twig' %}

            {% include 'user/dashboard/_card_article.html.twig' %}

        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/trumbowyg.css') }}">
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('build/js/addAttachment.js') }}"></script>
    <script src="{{ asset('build/js/trumbowyg.js') }}"></script>
{% endblock %}

