{% extends '_bootstrap_modal_layout.html.twig' %}

{% block modal_title %}
    {{ 'title.download_software'|trans }}
{% endblock %}

{% block modal_body %}
    {{ form(form) }}
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-primary" value="{{ 'action.send_request'|trans }}">
{% endblock %}